

:root {
    --br-radius-global-md: 4px;
    --br-radius-global: 6px;
    --br-radius-global-lg: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-puvi);
    color: var(--c-gray-10);
    font-size: 14px;
    line-height: 1.3;
    text-align: start;
    overflow: hidden;
}
input,
textarea,
select,
button {
    font-family: inherit; 
    font-size: inherit; 
    line-height: inherit;
}
input,
textarea,
select {
    text-align: start;
}
button { cursor: pointer; text-align: center; }
::placeholder { color: var(--c-gray-75); }

h1, h2, h3, h4, h5, h6, b, strong, th { font-weight: var(--font-medium); }
ul { list-style: none; }
p { line-height: 1.4; color: var(--c-gray-40); }
a { text-decoration: none; cursor: pointer; color: var(--c-link); }
b { font-weight: var(--font-bold); }



/* inputs */
    input:-webkit-autofill { 
        box-shadow: 0 0 0px 1000px var(--c-white) inset !important; 
        -webkit-box-shadow: 0 0 0px 1000px var(--c-white) inset !important; 
    }
    input:-moz-autofill {
        background-color: transparent !important;
    }
    input[type="number"] {
        -moz-appearance: textfield;
        appearance: textfield;
    }
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        appearance: none;
        margin: 0;
    }
    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-decoration {
        -webkit-appearance: none;
        appearance: none;
        display: none; 
    }
    input[type="search"]::-ms-clear {
        display: none;
    }
/* \\\ inputs */


/* icons */
    .fa-solid { color: var(--c-gray-80); }
/* \\\ icons */

