

@font-face {
    font-family: "Puvi_Font";
    font-display: swap;
    src: url("https://mk625.github.io/MK-Styles/assets/Zohopuvi/Zoho_Puvi_Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Puvi_Font";
    font-display: swap;
    src: url("https://mk625.github.io/MK-Styles/assets/Zohopuvi/Zoho_Puvi_Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Puvi_Font";
    font-display: swap;
    src: url("https://mk625.github.io/MK-Styles/assets/Zohopuvi/Zoho_Puvi_SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Puvi_Font";
    font-display: swap;
    src: url("https://mk625.github.io/MK-Styles/assets/Zohopuvi/Zoho_Puvi_Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

:root {
    --font-puvi: Puvi_Font, sans-serif;
}


.font-regular { font-weight: 400; }
.font-medium { font-weight: 500; }
.font-sbold { font-weight: 600; }
.font-bold { font-weight: 700; }


