

.d-flx { display: flex; }
.fd-row { flex-direction: row; }
.fd-col { flex-direction: column; }
.fw-w { flex-wrap: wrap; }

.fG-1 { flex-grow: 1;}

.d-none { display: none; }
.d-block { display: block; }
.d-in-block { display: inline-block; }


/* horizontal alligment  */
.jC-S { justify-content: start; }
.jC-FE { justify-content: end; }
.jC-C { justify-content: center; }
.jC-SB { justify-content: space-between; }
.jC-SA { justify-content: space-around; }
.jC-SE { justify-content: space-evenly; }

/* vertical allignment  */
.aI-S { align-items: start; }
.aI-E { align-items: end; }
.aI-C { align-items: center; }
.aI-B { align-items: baseline; }
.aI-stretch { align-items: stretch; }

/* gap values  */
.g-5 { gap: 5px; }
.g-8 { gap: 8px; }
.g-10 { gap: 10px; }
.g-12 { gap: 12px; }
.g-15 { gap: 15px; }
.g-20 { gap: 20px; }
.g-25 { gap: 25px; }
.g-30 { gap: 30px; }


