
.d-flx { display: flex; }
.fd-row, .fD-row { flex-direction: row; }
.fd-col, .fD-col { flex-direction: column; }
.fw-w, .fW-w { flex-wrap: wrap; }

/* horizontal alligment  */
.jC-S { justify-content: start; }
.jC-FE { justify-content: end; }
.jC-C { justify-content: center; }
.jC-SB { justify-content: space-between; }
.jC-SA { justify-content: space-around; }
.jC-SE { justify-content: space-evenly; }

/* vertical allignment  */
.aI-S { align-items: start; }
.aI-E { align-items: end; }
.aI-C { align-items: center; }
.aI-B { align-items: baseline; }
.aI-stretch { align-items: stretch; }

.f-1 { flex: 1; }
.fS-0 { flex-shrink: 0; }
.fG-1 { flex-shrink: 0; }

/* gap values  */
.g-1 { gap: 1px; }
.g-2 { gap: 2px; }
.g-3 { gap: 3px; }
.g-5 { gap: 5px; }
.g-6 { gap: 6px; }
.g-7 { gap: 7px; }
.g-8 { gap: 8px; }
.g-9 { gap: 9px; }
.g-10 { gap: 10px; }
.g-12 { gap: 12px; }
.g-15 { gap: 15px; }
.g-18 { gap: 18px; }
.g-20 { gap: 20px; }
.g-23 { gap: 23px; }
.g-25 { gap: 25px; }
.g-28 { gap: 28px; }
.g-30 { gap: 30px; }
.g-35 { gap: 35px; }
.g-40 { gap: 40px; }
.g-45 { gap: 45px; }
.g-50 { gap: 50px; }
.g-55 { gap: 55px; }
.g-60 { gap: 60px; }
.g-65 { gap: 65px; }
.g-70 { gap: 70px; }
.g-75 { gap: 75px; }
.g-80 { gap: 80px; }
.g-85 { gap: 85px; }
.g-90 { gap: 90px; }
.g-95 { gap: 95px; }
.g-100 { gap: 100px; }
.g-110 { gap: 110px; }
.g-120 { gap: 120px; }


/* grid */
    .d-grid {
        display: grid;
        --gC-MNW: 250px;
    }
    .gC-fit {
        grid-template-columns: repeat(
            auto-fit,
            minmax(var(--gC-MNW), 1fr)
        );
    }
    .gC-fill {
        grid-template-columns: repeat(
            auto-fill,
            minmax(var(--gC-MNW), 1fr)
        );
    }

    .place-c-center { place-content: center; }

    .gC-1-auto { grid-template-columns: 1fr auto; }
    .gC-1-1 { grid-template-columns: 1fr 1fr; }
    .gC-1-2 { grid-template-columns: 1fr 2fr; }
    .gC-1-3 { grid-template-columns: 1fr 3fr; }
    .gC-2-1 { grid-template-columns: 2fr 1fr; }
    .gC-2-2 { grid-template-columns: 2fr 2fr; }
    .gC-2-3 { grid-template-columns: 2fr 3fr; }
    .gC-3-1 { grid-template-columns: 3fr 1fr; }
    .gC-3-2 { grid-template-columns: 3fr 2fr; }
    .gC-3-3 { grid-template-columns: 3fr 3fr; }

    .gC-MNW-100 { --gC-MNW: 100px; }
    .gC-MNW-125 { --gC-MNW: 125px; }
    .gC-MNW-150 { --gC-MNW: 150px; }
    .gC-MNW-175 { --gC-MNW: 175px; }
    .gC-MNW-200 { --gC-MNW: 200px; }
    .gC-MNW-225 { --gC-MNW: 225px; }
    .gC-MNW-250 { --gC-MNW: 250px; }
    .gC-MNW-275 { --gC-MNW: 275px; }
    .gC-MNW-300 { --gC-MNW: 300px; }
    .gC-MNW-325 { --gC-MNW: 325px; }
    .gC-MNW-350 { --gC-MNW: 350px; }
/* \\\ grid */

