

/* buttons */
.btn {
    display: inline-block;
    background: none;
    border: none;
    cursor: pointer;
    height: 34px;
    font-size: 14px;
    padding: 0 24px;
    transition: var(--fast-trans);
    border-radius: 4px;
}

.btn.btn-primary {
    background-color: #0070ef;
    color: var(--c-white);
}

.btn.btn-primary:hover {
    background-color: #0061d0;
    color: var(--c-white);
}
/* \\\ buttons */


/* input */
.input-ele {
    resize: none;
    position: relative;
    text-overflow: ellipsis;
    background-color: var(--c-white);
    border-radius: 3px;
    height: 35px;
    border: 1px solid var(--c-gray-90);
    margin: 0px;
    outline: none;
    width: 100%;
    line-height: 18px;
    font-size: 14px;
    transition: var(--default-trans);
}

.input-ele:hover {
    border-color: var(--c-gray-80);
}

.input-ele:focus {
    border-color: 1px solid #2cc1ff;
    box-shadow: 0px 0px 3px 2px rgba(44,193,255,0.2)
}
/* \\\ input */


