

/* buttons */
.btn {
    display: inline-block;
    background: none;
    border: none;
    cursor: pointer;
    height: 34px;
    font-size: 14px;
    padding: 0 24px;
    transition: var(--fast-trans);
    border-radius: 4px;
}

.btn.btn-primary {
    background-color: #0070ef;
    color: var(--c-white);
}

.btn-primary:hover {
    background-color: #0070ef;
    color: var(--c-white);
}
/* \\\ buttons */


/* input */

/* \\\ input */


